
<div class="upload">

    <div class="cont">
    
        <div class=content>
            <div class="wrapper-1">
              <div class="wrapper-2">
                <h1>Compressed!!!</h1>
                <p>Thanks for Using SAA version 1</p>
       
                <button class="go-home" (click)="download()">
               Download
                </button>
              </div>
              <div class="footer-like">
                
                <p>
                    <a href="#">Back to Home</a>
                   </p>
              </div>
          </div>
          </div>
          
          
          
          <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Source+Sans+Pro" rel="stylesheet">
        
  </div>
</div>