<div class="wrapper">
    

<div class="circle-container">
    <div class="circle-image">
    </div>
    

  
  </div>
  <div class="text">
    <h1>Image Compression </h1>
    <p>Image Compress Algorithm is a web application that allows you to compress and resize your images.</p>
    <div class="buttons">
    <button class="big-circle-button1" (click)="upload()">Compress</button>
    <button class="big-circle-button2">Resize</button>
    <button class="big-circle-button3">Contact</button>
</div>

  </div>
  
 
</div>

